<footer class="footer">
  <div class="footer__item">
    <p>Copyright 2020</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  </div>

  <div class="footer__item links">

    <div class="footer__item--link">
      <a href="https://www.linkedin.com/in/mykola-yurochko-794318144/" target="_blank">
        <img src="https://image.flaticon.com/icons/png/512/38/38669.png" alt="Smth went wrong">
      </a>
    </div>

    <div class="footer__item--link">
      <a href="https://github.com/MykolaYurochko" target="_blank">
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="Smth went wrong">
      </a>
    </div>

    <div class="footer__item--link">
      <a href="https://www.facebook.com/mykola.yurochko" target="_blank">
        <img src="https://image.flaticon.com/icons/png/512/21/21155.png" alt="Smth went wrong">
      </a>
    </div>
  </div>

  <div class="footer__item">
    <p>Design by Smbd</p>
    <p>Coding by Me</p>
  </div>
</footer>