@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background: linear-gradient(135deg, #fff, #c3d5e7 50%, #c7d7e7);
}
